:root {
    /* color variables */
    /* dark colors */
    --primary-1: #111B21;
    --primary-2: #1C1E21;
    
    /* secondry colors  */
    /* Used For: buttons, borders and decorations*/
    --secondry-1: #24D367;
    --secondry-2: #E7FFDB;
    
    
    /* light colors */
    --white: #FEFEFF;
    --wheat: #F8F7E8;
}
